body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: auto;
  }
  
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    color: #fff;
    padding: 0 25px;
  }
  nav .menu-nav{
    display: flex;
    list-style: none;
  }
  
  nav .menu-nav li a {
    color: white; 
  }
  
  nav .menu-nav li a:hover {
    text-decoration: none;
    color: #aaa;
    transition: .2s;
  }
  
  nav .menu-nav > li:nth-child(1){
    display: none;
  }
  
  nav .menu-nav > li .submenu{
    display: none;
  }
  
  nav .icon{
    display: flex;
    flex-wrap:wrap;
  }
  nav .icon p{
    margin-right: 10px;
    cursor:pointer;
    padding: 10px;
    padding-top: 15px;
  }
  
  footer{
    background-color: #000;
    padding: 25px 100px;
    color: #909191;
  }
  footer .columns{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .Recommendation-bob-content-info>ul {
    list-style: none;
    margin: .66em 0 0;
    padding: 0
  }
  
  .Recommendation-bob-content-info>ul>li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }
  
  .Recommendation-bob-movie-content-info>ul {
    list-style: none;
    margin: .66em 0 0;
    padding: 0
  }
  
  .Recommendation-bob-movie-content-info>ul>li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }
  
  .Recommendation-bob-movie-content-info>ul>li>span {
    font-weight: 500;
    margin-right: .3em
  }
  
  .Recommendation-bob-movie-content-info>ul>li>span+span {
    font-weight: 400;
    margin-right: 0
  }
  
  .member-footer {
    color: grey;
    margin: 20px auto 0;
    max-width: 980px;
    padding: 0 4%
  }
  
  .member-footer-links {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 13px;
    margin: 0 0 14px;
    padding: 0;
  }
  
  .member-footer .social-links {
    display: flex;
    margin-bottom: 1em
  }
  
  .member-footer .social-links .social-link {
    margin-right: 15px
  }
  
  .member-footer .social-links .social-link .svg-icon {
    fill: grey;
    height: 25px;
    width: 36px
  }
  
  .member-footer .member-footer-help {
    color: #fff;
    font-size: 16px;
    margin-bottom: 30px;
    padding: 0
  }
  
  .member-footer .member-footer-links {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 13px;
    margin: 0 0 14px;
    padding: 0
  }
  
  .member-footer .member-footer-link-wrapper {
    box-sizing: border-box;
    flex: 0 0 50%;
    list-style-type: none;
    margin-bottom: 16px;
    padding-right: 22px
  }
  
  @media (min-width: 800px) {
    .member-footer .member-footer-link-wrapper {
        flex-basis:25%
    }
  }
  
  .member-footer .member-footer-link {
    color: grey;
  }
  
  .member-footer .member-footer-link:hover {
    text-decoration: underline;
  }
  
  .member-footer .member-footer-link-update {
    font-weight: 500
  }
  
  .member-footer .member-footer-copyright {
    font-size: 11px;
    margin-bottom: 15px
  }
  
  .member-footer .service-code {
    font-size: 13px;
    margin-bottom: 20px;
    padding: .5em
  }
  
  .member-footer .copy-text-block+.copy-text-block {
    margin-top: 4px
  }
  
  .member-footer .copy-text-block+.copy-text-block a {
    color: grey
  }
  
  .member-footer .copy-text-block+.copy-text-block a:hover {
    text-decoration: underline
  }
  
  .member-footer .social-links {
    display: flex;
    margin-bottom: 1em
  }
  
  .member-footer .social-links .social-link {
    margin-right: 15px
  }
  
  .member-footer .social-links .social-link .svg-icon {
    fill: grey;
    height: 25px;
    width: 36px
  }
  .link {
    padding: 10px;
    ;
  }
  
  .logos a {
    padding: 10px;
    color: white;
  }
  
  .sub-links ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .sub-links a {
    color: var(--dark);
    text-decoration: none;
  }
  
  .sub-links a:hover {
    color: var(--dark);
    text-decoration: underline;
  }
  .service-code {
    background: transparent;
    border: 1px solid grey;
    color: grey;
    padding: .5rem
    font-size: smaller;
  }
  
  .service-code:hover {
    color: #fff;
    cursor: pointer
  }
  .service-code-padding  {
    padding: 10px;
  }
  
  .submenu{
    position: absolute;
    top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 180px;
    height: 220px;
    list-style: none;
    background-color: var(--black);
  }
  
  nav .menu-nav > li .submenu{
    display: none;
  }
  
  .custom-navbar-bg {
    background-color: black; 
  }
  
  .white-text {
    color: white;
  }
  .dropdown-bg {
    background-color: black; 
  }
  
  .navbar-nav li.nav-item a.nav-link:hover {
    color: silver; 
  }
  
  
  .navbar-nav li.nav-item.dropdown:hover .nav-link {
    color: silver; 
  }
  
  
  .navbar-nav li.nav-item.dropdown:hover .dropdown-menu a.dropdown-item:hover {  
    color: #000; 
  }
  .text-white {
    color: white !important;
  }
  
  .input-area {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .input-area i {
    margin-right: 10px;
  }
  .pinning-header .secondary-navigation {
      align-items: center;
      display: flex;
      flex-grow: 1;
      height: 100%;
      justify-content: flex-end;
      position: absolute;
      right: 4%;
      top: 0;
  }
  .searchBox {
      display: inline-block;
      vertical-align: middle;
  }
  .pinning-header .secondary-navigation .nav-element a {
      display: block
  }
  
  .pinning-header .secondary-navigation .nav-element a.sub-menu-link-icon {
      align-items: center;
      display: flex
  }
  
  .pinning-header .secondary-navigation .nav-element a.sub-menu-link-icon svg {
      color: #b3b3b3;
      padding: 0 13px 0 5px
  }
  
  .pinning-header .secondary-navigation .nav-element .account-drop-down a:focus {
      transform: none;
      transition: none
  }
  
  .pinning-header .secondary-navigation .nav-element:not(:last-child) {
      margin-right: 10px
  }
  .image-merge {
    position: relative;
    width: 100vw;
    height: auto;
    overflow: hidden;
    margin: 0;
  }
  
  .image-merge .backimage {
    width: 100%;
    height: auto;
  }
  
  .image-merge .frontimage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1; /* Higher z-index for frontimage */
  }
  
  .title {
    position: absolute;
    top: 50px;
    left: 40px;
    width: 35%;
    color: white;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    z-index: 0; /* Lower z-index for title */
  }
  