:root {
  --main-background-color: #000;
  --main-gray-color: rgb(138 138 138);

  --bs-accordion-bg: #000 !important;
}

body {
  margin: 0;
  padding: 0;
  background: var(--main-background-color);
}

img {
  max-width: 100%;
}

section,
footer {
  margin-bottom: 1rem;
}

a {
  text-decoration: underline;
  color: inherit;
}

#intro {
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/df6621a3-890c-4ca0-b698-90bd5152f3d1/1abd43b5-b8a4-47ae-9e04-4ea437fef33e/US-en-20240107-trifectadaily-perspective_alpha_website_small.jpg");
  height: 80vh;
}

.accordion {
  --bs-accordion-bg: #262323;
  --bs-accordion-active-bg: var(--bs-accordion-bg);
  /* --bs-accordion-btn-active-icon: black; */
  --bs-accordion-active-color: red;

  --bs-accordion-button-focus-border-color: white;
  --bs-accordion-btn-color: ghostwhite;

  /* --bs-accordion-btn-bg: pink;
  --bs-accordion-active-bg: lightpink; */
}

.panel-default > .panel-heading {
  background-color: #000;
}

.transparent-input-field {
  background-color: rgba(0, 0, 0, 0.3);
}

.mask {
  background: rgba(0, 0, 0, 0.5);
}

.container-fluid {
  width: 1170px;
}

.navbar-brand {
  width: 9rem;
}

.navbar--login {
  width: 12rem;
}

.div--detail-card {
  width: 100%;
  /* height: 300px; */
  background: #000;
  align-items: center;
}
.foreground-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.img-video-foreground {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}

.video-flow-example {
  position: absolute;
  width: 80%;
  left: 15%;
  top: 18%;
  z-index: 1;
}

.video-play-mac {
  position: absolute;
  width: 60%;
  left: 18%;
  top: 10%;
  z-index: 1;
}

.footer {
  color: var(--main-gray-color);
}

li {
  list-style: none;
  margin: 0.3rem 0;
}
