body {
  margin: 0;
  padding: 0;
  background: #000;
}

#intro {
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/df6621a3-890c-4ca0-b698-90bd5152f3d1/1abd43b5-b8a4-47ae-9e04-4ea437fef33e/US-en-20240107-trifectadaily-perspective_alpha_website_small.jpg");
  height: 80vh;
}

.mask {
  background: rgba(0, 0, 0, 0.8);
}

.container-fluid {
  width: 1170px;
}

.navbar--login {
  width: 12rem;
}

.div--detail-card {
  width: 100%;
  height: 300px;
  background: #000;
  align-items: center;
}
.foreground-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.img-video-foreground {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}

.video-flow-example {
  position: absolute;
  width: 80%;
  left: 15%;
  top: 18%;
  z-index: 1;
}

.video-play-mac {
  position: absolute;
  width: 60%;
  left: 18%;
  top: 10%;
  z-index: 1;
}
