body {
    background-color: #141414;
    color: #e5e5e5;
    font-size: 19px;
    z-index: 100;
}


.slider1 {
    position: absolute;
    top: 600px;
    margin-left:20px;
    z-index: 200;
}

.slider2 {
    position: absolute;
    top: 810px;
    margin-left:20px;
}

.slider3 {
    position: absolute;
    z-index: 200;
    top: 1020px;
    margin-left: 30px;
}

.slider4 {
    position: absolute;
    z-index: 150;
    top: 1280px;
    margin-left: 30px;
}

.slider5 {
    position: absolute;
    z-index: 100;
    top: 1490px;
    margin-left: 30px;

}

.slider6 {
    position: absolute;
    z-index: 0;
    top: 1700px;
    margin-left: 30px;
}

.card {
    width: 230px;
    background: #141414;
    color: white;
    border-radius: 6px;
    transition: transform 450ms;
    margin: 3;
    position: relative;

}

.card:hover {
    transform: scale(1.2);
    z-index: 500;
}

.card-icon {
    color: white;
    font-size: 28px;
    cursor: pointer;
}

.card-text {
    font-size: 12px;
}

.card-body {
    display: none;
}

.card:hover > .card-body {
    display: block;
}

.card-hidden {
    display: none;
}

.card:hover > .card-hidden {
    display: block;
}

.card:hover > .top-number-item {
    display: none;
}