body {
    display: flex;
    background-color: #141414;
    font-family: Netflix Sans,Helvetica, Neue,Segoe UI,Roboto,Ubuntu,open sans-serif;
}

.top-number {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top-number-item {
    position: relative;
    display: flex;
    transform-style: preserve-3d;
    width: 131px;
    height: 184px;
    margin-right: 100px;
}

.top-number-item div {
    color: #141414;
    -webkit-text-stroke: 4px rgb(89, 89, 89);
    font-weight: bolder;
    font-size: 237px;
    line-height: 1;
    position: absolute;
    left: -43px;
    top: -27px;

    border: 0px solid transparent;
    z-index: -2;
    
}

.top-number-item img {
    margin: 4px 0 4px 60px;
    border-radius: 4px;
    margin-left: 50px;
}

.top-number-add div{
    text-align: center;
    font-size: 145px;
    top: 19px;
    position: absolute;
    left: -60px;
    display: flex;
    align-items:center;
}

.top-number-item:hover {
    transform: scale(1.2);
    z-index: 50;
}